body {
  text-align: center;
  background-color: plum;
}

a {
  margin: 5px;
  padding-bottom: 20px;
  color: black;
}

button {
  margin-top: 20px;
  color: plum;
  background-color: black;
  size: 3em;
}